<section id="calculatorSection" class="mainbar" data-ng-controller="Calculator as calc">
    <div>

        <div id="calcHistoryWindow">
            <div>
                <label id="calcHistory">&nbsp;{{calc.history}}</label>
            </div>
        </div>
        <div class="form-group inputWindow">
            <input type="text" id="calcInputWindow" class="form-control" data-ng-model="calc.inputWindow"
                   placeholder="select or type values..."
                   data-ng-keypress="calc.key($event)" data-ng-keydown="calc.delete($event)"
                   data-ng-paste="calc.preventPaste($event)"/>
        </div>

        <div>
            <button class="btn btn-warning calcButton" value="B" data-ng-click="calc.press($event)">&#8592;</button>
            <button class="btn btn-danger calcButton"  value="C" data-ng-click="calc.press($event)">C</button>
            <button class="btn btn-default calcButton" value="N" data-ng-click="calc.press($event)">&#177;</button>
            <button class="btn btn-default calcButton" value="/" data-ng-click="calc.press($event)">/</button>
        </div>
        <div>
            <button class="btn btn-default calcButton" value="7" data-ng-click="calc.press($event)">7</button>
            <button class="btn btn-default calcButton" value="8" data-ng-click="calc.press($event)">8</button>
            <button class="btn btn-default calcButton" value="9" data-ng-click="calc.press($event)">9</button>
            <button class="btn btn-default calcButton" value="*" data-ng-click="calc.press($event)">x</button>
        </div>

        <div>
            <button class="btn btn-default calcButton" value="4" data-ng-click="calc.press($event)">4</button>
            <button class="btn btn-default calcButton" value="5" data-ng-click="calc.press($event)">5</button>
            <button class="btn btn-default calcButton" value="6" data-ng-click="calc.press($event)">6</button>
            <button class="btn btn-default calcButton" value="-" data-ng-click="calc.press($event)">-</button>
        </div>

        <div>
            <button class="btn btn-default calcButton" value="1" data-ng-click="calc.press($event)">1</button>
            <button class="btn btn-default calcButton" value="2" data-ng-click="calc.press($event)">2</button>
            <button class="btn btn-default calcButton" value="3" data-ng-click="calc.press($event)">3</button>
            <button class="btn btn-default calcButton" value="+" data-ng-click="calc.press($event)">+</button>
        </div>

        <div>
            <button class="btn btn-default calcButton" value="0" data-ng-click="calc.press($event)">0</button>
            <button class="btn btn-default calcButton" value="." data-ng-click="calc.press($event)">.</button>
            <button class="btn btn-primary bigCalcButton" value="=" data-ng-click="calc.press($event)">=</button>

        </div>

    </div>

</section>